<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Lista de Pacientes</title>
</head>

<body>
	<h1>Lista de Pacientes</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Telefono</th>
				<th>Genero</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="paciente : ${pacientes}">
				<td th:text="${paciente.id}">ID</td>
				<td th:text="${paciente.nombre}">Nombre</td>
				<td th:text="${paciente.apellido}">Apellido</td>
				<td th:text="${paciente.telefono}">Teléfono</td>
				<td th:text="${paciente.genero}">Género</td>
				<td>
					<button th:onclick="|actualizarPaciente(${paciente.id})|">Editar</button>
					<button th:onclick="|eliminarPaciente(${paciente.id})|">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>

	<script>
		function eliminarPaciente(id) {
		    fetch(`/paciente/${id}`, {
		        method: 'DELETE'
		    })
		    .then(response => response.text())
		    .then(message => {
		        console.log(message);
		        window.location.reload();
		    });
		}
	</script>
</body>

</html>